<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Them sinh vien</div>
            <div class="card-body">
                <form action="">
                    <div class="form-group">
                        <label>Ho ten</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>avatar</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Mat khau</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>hoc phi</label>
                        <input type="text" class="form-control">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>