<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Môn học</th>
                    <th class="text-end">Xem</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let s of listSubjects">
                    <td><img [src]="'/assets/logo/' + s.Logo" style="width:100px;height:100px;object-fit:cover"></td>
                    <td class="fw-bold">{{ s.Name }}</td>
                    <td class="text-end">
                        <a [routerLink]="'/admin/' + s.Code + '/cau-hoi'" class="btn btn-primary">Xem</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>